.callback {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  background-color: $trnsprnt;
  text-decoration: underline dashed;
  text-underline-offset: 3px;
  color: $green-light;
  cursor: pointer;
}
