.favorite-link {
  display: block;
  width: 28px;
  height: 24px;
  position: relative;
  background-image: url("../assets/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}
