.get-appointment {
  background-color: $white;
  width: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 20px;
  position: relative;
}
