.lead {
  background-color: $white;
  padding: 60px 0;
}

.lead__wrapper {
  display: flex;

  @include mqm(tablet) {
    flex-direction: column;
  }
}

.lead__image {
  margin-left: auto;
  align-self: flex-start;
}
