.subscribe {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;

  @include mqm(tablet) {
    flex-direction: column;
  }
}

.subscribe__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.subscribe__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mqm(mobile-plus) {
    flex-direction: column;
  }
}

.subscribe__input {
  width: 210px;
  margin-right: 15px;
  @include mqm(mobile-plus) {
    margin-bottom: 15px;
  }
}
