.wrapper {
  margin: 0 auto;
  max-width: map-get($breakpoints, desktop);

  @include mqm(tablet-plus) {
    max-width: map-get($breakpoints, tablet-plus);
  }
}

.wrapper_theme_grey {
  background-color: $gray-background;
}

.wrapper_theme_white {
  background-color: $white;
}
